@use 'variables' as *;

.saison-printemps { background-color: $saison-printemps; }
.saison-été        { background-color: $saison-ete; }
.saison-automne    { background-color: $saison-automne; }
.saison-hiver       { background-color: $saison-hiver; }

.couleur-rouge       { background-color: $couleur-rouge; }
.couleur-rose       { background-color: $couleur-rose; }
.couleur-violet      { background-color: $couleur-violet; }
.couleur-bleu        { background-color: $couleur-bleu; }
.couleur-vert        { background-color: $couleur-vert; }
.couleur-jaune       { background-color: $couleur-jaune; }
.couleur-orange      { background-color: $couleur-orange; }
.couleur-marron      { background-color: $couleur-marron; }
.couleur-blanc       { background-color: $couleur-blanc; color: $text-darker; }
.couleur-paillette   { background-color: $couleur-paillette; }
.couleur-noir        { background-color: $couleur-noir; }
.couleur-argent      { background: $couleur-argent; }
.couleur-or          { background: $couleur-or; }
.couleur-multicolore { background: $couleur-multicolore; }