// Typo \\

@font-face {
    font-family: 'Kindred'; 
    src: url('/typo/Kindred-Youth.otf') format('opentype');
}
@font-face {
    font-family: 'Chicle'; 
    src: url('/typo/Chicle-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto'; 
    src: url('/typo/Roboto-Regular.ttf') format('truetype');
}

@mixin titre($taille: 80px) {
  font-family: 'Kindred', sans-serif;
  font-size: $taille;
  text-decoration:none;
  font-weight: normal;
}

@mixin sous-titre($taille: 40px) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  text-decoration:none;
}

@mixin text($taille: 16px, $epaisseur: normal, $color: $text-darker, $align: justify) {
  font-family: 'Roboto', sans-serif;
  font-size: $taille;
  font-weight: $epaisseur;
  text-decoration:none;
  color: $color;
  text-align: $align;
}

@mixin button($taille: 24px) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  letter-spacing: 5%;
  font-weight: lighter;
  text-decoration:none;
}

@mixin text-chicle($taille: 16px) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  letter-spacing: 5%;
  font-weight: lighter;
  text-decoration:none;
}

// Couleurs \\

$color-darker:#8E0055;
$color-dark:#D35377;
$color-middle:#FF97B7;
$color-light:#FFCCDB;
$color-white:#FFFFFF;
$color-shadow:#8e00557c;
$text-darker:#8E0055;
$text-white:#FFFFFF;
$bg-image: url('../../public/images/fonds/fond_homepage.png');

@mixin shadow($y: 5px, $blur:20px){
    color: $color-shadow;
    box-shadow: 0 $y $blur $color-shadow;
}

// Border et radius \\

@mixin border($color: $color-white, $width : 5px){
    border: $width solid $color;
}
$border-radius-small: 10px;
$border-radius-medium: 15px;
$border-radius-large: 25px;
$border-radius-max: 100%;

// Marges et espacements \\

$padding-button:8px 18px;
$padding-nav:15px 50px;

$padding-small:10px;
$padding-medium:25px;
$padding-large:50px;
$padding-xlarge:100px;
$padding-top:275px;
$padding-bottom:250px;

$margin-small:25px;
$margin-medium:50px;
$margin-large:75px;
$margin-xlarge:100px;

$gap-small:10px;
$gap-medium:25px;
$gap-large:50px;

// Animation \\

@mixin animation($name: rotation_1, $duration: 2.5s, $timing-function: infinite, $iteration-count: linear){
    animation: $name $duration $timing-function $iteration-count;
}

@keyframes rotation_1 {
    0% {
        transform: rotate(35deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(35deg);
    }
}

@keyframes rotation_2 {
    0% {
        transform: rotate(-35deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(35deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}

