// Typo \\

@font-face {
    font-family: 'Kindred'; 
    src: url('/typo/Kindred-Youth.otf') format('opentype');
}
@font-face {
    font-family: 'Chicle'; 
    src: url('/typo/Chicle-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto'; 
    src: url('/typo/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto'; 
    src: url('/typo/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@mixin titre($taille: 100px, $color: $text-darker, $align: left) {
  font-family: 'Kindred', sans-serif;
  color:$color;
  text-align: $align;
  font-size: $taille;
  text-decoration:none;
  font-weight: normal;
  line-height: 1;
  text-wrap: wrap;
  @media (max-width: $width-portable) {
        font-size: $taille - 24px;
   }
   @media (max-width: $width-tablette) {
        text-align: center;
    }
  @media (max-width: $width-mobile) {
        font-size: $taille - 52px;
    }
  
}

@mixin sous-titre($taille: 24px, $color: $text-white, $align: center) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  text-align: $align;
  color: $color;
  letter-spacing: 5%;
  font-weight: lighter;
  text-decoration:none;
    @media (max-width: $width-mobile) {
        font-size: 20px;
    }
}

@mixin text($taille: 20px, $epaisseur: normal, $color: $text-darker, $align: justify,$style: normal) {
  font-family: 'Roboto', sans-serif;
  font-size: $taille;
  font-weight: $epaisseur;
  font-style: $style;
  text-decoration:none;
  color: $color;
  text-align: $align;
    @media (max-width: $width-vertical) {
        $responsive-size: if($taille == 24px, $taille - 4px, $taille);
        font-size: $responsive-size;
    }
    @media (max-width: $width-mobile) {
        font-size: 16px;
    }

}

@mixin button($taille: 24px) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  letter-spacing: 5%;
  font-weight: lighter;
  text-decoration:none;
  text-align: center;
    @media (max-width: $width-mobile) {
        font-size: $taille - 4px;
    }
}

@mixin text-chicle($taille: 20px,$color: $text-white,$align:left) {
  font-family: 'Chicle', sans-serif;
  font-size: $taille;
  letter-spacing: 5%;
  font-weight: lighter;
  text-decoration:none;
  color: $color;
  text-align:$align;
  @media(max-width:$width-mobile){
    font-size: $taille - 4px;
  }
}

// Couleurs \\

$color-darker:#8E0055;
$color-dark:#D35377;
$color-middle:#FF97B7;
$color-light:#FFCCDB;
$color-white:#FFFFFF;
$color-shadow:#8e00557c;
$text-darker:#8E0055;
$text-white:#FFFFFF;
$bg-image: url('../../public/images/fonds/fond_homepage.png');

@mixin shadow($y: 5px, $blur:20px){
    color: $color-shadow;
    box-shadow: 0 $y $blur $color-shadow;
}
@mixin drop-shadow($y: 5px, $blur:20px){
    color: $color-shadow;
    filter: drop-shadow(0px -5px 15px $color-shadow);
}

// Border et radius \\

@mixin border($color: $color-white, $width : 5px){
    border: $width solid $color;
}
$border-radius-min: 5px;
$border-radius-small: 10px;
$border-radius-medium: 15px;
$border-radius-large: 25px;
$border-radius-max: 50px;

// Marges et espacements \\

$padding-button:8px 18px;
$padding-nav:15px 50px;

$padding-small:10px;
$padding-medium:25px;
$padding-large:50px;
$padding-xlarge:100px;
$padding-top:275px;
$padding-bottom:200px;
$padding-input:5px 15px;

$margin-small:25px;
$margin-medium:50px;
$margin-large:75px;
$margin-xlarge:100px;

$gap-small:10px;
$gap-medium:25px;
$gap-large:50px;

// Animation \\

@mixin animation($name: rotation_1, $duration: 2.5s, $timing-function: infinite, $iteration-count: linear){
    animation: $name $duration $timing-function $iteration-count;
}

@keyframes rotation_1 {
    0% {
        transform: rotate(35deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(35deg);
    }
}

@keyframes rotation_2 {
    0% {
        transform: rotate(-35deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(35deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-35deg);
    }
}

// Z-index \\

$index-null: 0;
$index-low: 1;
$index-medium:2;
$index-high:3;

// Responsive \\

$width-portable:1500px;
$width-tablette:1310px;
$width-vertical:810px;
$width-mobile:520px;