#add-rea{
    display: flex;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    justify-content: center;
    height:fit-content;
    background-image:$bg-image;
    background-attachment:fixed;
    justify-content:center;
    align-items:center;
    .box{
        display:flex;
        flex-direction:column;
        width:800px;
        height:fit-content;
        background-color:$color-light;
        padding:$padding-large;
        gap:$gap-medium;
        border-radius:$border-radius-large;
        @include border;
        @include shadow;
        position:relative;
        h2{
            @include titre($taille:72px);
        }
        form{
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            margin-top:$margin-small;
            .error-message,.error{
                @include text($taille:14px);
                margin-top:5px;
                display:flex;
                align-items:center;
                gap:$gap-small;
                svg {
                    flex-shrink: 0;
                }
            }
            .message{
                background-color:$color-dark;
                @include text-chicle($color:$text-white,$taille:24px,$align:center);
                width:100%;
                padding:$padding-small;
                border-radius:$border-radius-min;
            }
            .nail-art{
                flex-shrink: 0;
                width:fit-content;
                padding:5px;
                border-radius:$border-radius-small;
                display:flex;
                align-items:center;
                .form-group{
                    align-items:center;
                    label{
                        @include text-chicle($color:$text-darker,$taille:20px);
                        font-style:normal;
                    }
                    input{
                        min-width:20px;
                        min-height:20px;
                    }
                }
            }
            .row{
                display:flex;
                gap:$gap-medium;
                justify-content:space-between;
                div{
                    width:100%;
                }
            }
            .container-file{
                display:flex;
                flex-direction:column;
                gap:$gap-small;
                .file{
                    display:flex;
                    align-items:center;
                    gap:$gap-small;
                    .btn-realisation{
                        cursor:pointer;
                        background-color:$color-middle;
                        @include text-chicle($color:$text-white,$taille:20px);
                        @include border($width:2px);
                        border-radius:$border-radius-min;
                        padding:5px $padding-small;
                        transition: background-color 0.3s ease;
                        &:hover{
                            background-color:$color-dark;
                        }
                    }
                }
                .italic{
                    @include text($taille:14px ,$style: italic, $epaisseur: 300);
                    margin-top:-5px;
                }
                .preview{
                    width:150px;
                    height:100px;
                    border-radius:$border-radius-min;
                    position:relative;
                    img{
                        width:100%;
                        height:100%;
                        object-fit:cover;
                        border-radius:$border-radius-min;
                    }
                    button{
                        cursor:pointer;
                        position:absolute;
                        top:5px;
                        right:5px;
                        @include text-chicle($color:$text-white,$taille:14px);
                        background-color:$color-darker;
                        @include border($width:2px);
                        border-radius:$border-radius-min;
                        display:flex;
                        align-items:center;
                        justify-content:center;
                    }
                }
            }
        }
    }
    @media(max-width:$width-tablette){
        .box{
            width:90%;
            margin:0 auto;
            h2{
                text-align:left !important;
            }
        }
    }
    @media(max-width:$width-mobile){
        .box{
            padding:$padding-medium;
            h2{
                font-size:40px;
            }
        }
    }
}