.container-form{
    display:flex;
    gap:$gap-medium;
    flex-direction:column;
    h2{
        @include titre();
        @media(max-width:$width-tablette){
            text-align:left;
        }
    }
    p{
        @include text();
    }
    .not-connected{
        display:flex;
        gap:$gap-small;
        flex-wrap:wrap;
        a{
            @include text();
            text-decoration:underline;
        }
    }
    form{
        display:flex;
        gap:$gap-medium;
        flex-direction:column;
        align-items:flex-end;
        .error-message,.error{
            @include text($taille:14px);
            margin-top:-10px;
            display:flex;
            align-items:center;
            gap:$gap-small;
            svg {
                flex-shrink: 0;
            }
        }
        .message{
            background-color:$color-dark;
            align-self:flex-start;
            padding:$padding-small;
            border-radius:$border-radius-small;
            width:fit-content;
            display:flex;
            align-items:center;
            gap:$gap-small;
            color:$text-white;
            p{
                @include text($color:$text-white);
            }
        }
        .avis{
            background-color:$color-dark;
            display:flex;
            padding:$padding-small;
            border-radius:$border-radius-small;
            align-self:flex-start;
            .note{
                svg{
                    cursor:pointer;
                }
            }
            .active{
                svg{
                    .cls-1{
                        fill:$color-light !important;
                    }
                }
            }
        }
    }
}
.container-commentaire{
    display:flex;
    flex-direction:column;
    .liste-commentaires{
        margin-top:$margin-large;
        display:flex;
        flex-wrap:wrap;
        gap:$gap-medium;
        justify-content:space-between;
        .no-commentaire{
            @include text($color:$text-white,$taille:24px);
            background-color:$color-middle;
            padding:$padding-medium;
            width:100%;
            text-align:center;
            border-radius:$border-radius-min;
        }
        .div-commentaire{
            width:45%;
            position:relative;
            padding:$padding-medium;
            background-color:$color-middle;
            @include shadow();
            @include border();
            border-radius:$border-radius-medium;
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            @media(max-width:$width-vertical){
                width:100%;
            }
            .btn-supprimer{
                position:absolute;
                top:-60px;
                left:0px;
            }
            .header{
                display:flex;
                gap:$gap-medium;
                justify-content:space-between;
                flex-wrap:wrap;
                
                .infos{
                    display:flex;
                    gap:$gap-medium;
                    flex-wrap:wrap;
                    @media(max-width:$width-mobile){
                        justify-content:center;
                    }
                }
                img{
                    width:75px;
                    object-fit:contain;
                }
                .infos-user{
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    gap:$gap-small;
                    .avis{
                        display:flex;
                        .note{
                            svg{
                                .cls-1{
                                    fill:$color-middle !important;
                                }
                            }
                        }
                        .active{
                            svg{
                                .cls-1{
                                    fill:$color-light !important;
                                }
                            }
                        }
                    }
                    .auteur{
                        @include text-chicle($color:$text-darker,$taille:24px);
                        @media(max-width:$width-mobile){
                            text-align:center;
                        }
                    }
                }
                .is-modele{
                    width:fit-content;
                    height:fit-content;
                    padding:$padding-small;
                    background-color:$color-middle;
                    @include shadow();
                    border-radius:$border-radius-small;
                    position:relative;
                    img{
                        width:40px;
                        top:-20px;
                        left:-20px;
                    }
                    p{
                        @include text-chicle();
                    }
                }
            }
            .contenu{
                background-color:$color-light;
                padding:$padding-medium;
                border-radius:$border-radius-medium;
                min-height:150px;
                p{
                    @include text();
                }
            }
        }
    }
}