#admin{
    background-color:$color-light;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:$gap-medium;
    .box-compte{
        display:flex;
        flex-direction:column;
        height:fit-content;
        background-color:$color-dark;
        padding:$padding-large;
        gap:$gap-medium;
        border-radius:$border-radius-large;
        @include border;
        @include shadow;
        position:relative;
    }
    
}