#confirmation-rdv{
    background-image:$bg-image;
    background-attachment:fixed;
    height:fit-content;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    .box{
        display:flex;
        flex-direction:column;
        max-width:950px;
        width:fit-content;
        height:fit-content;
        background-color:$color-light;
        padding:$padding-large;
        gap:$gap-medium;
        border-radius:$border-radius-large;
        @include border;
        @include shadow;
        position:relative;
        h2{
            @include titre($color:$text-darker,$taille:72px,$align:left);
            text-align:left
        }
        p{
            @include text();
        }
        .bloc-info{
            padding:$padding-small;
            background-color:$color-dark;
            display:flex;
            flex-direction:column;
            gap:$gap-small;
            border-radius:$border-radius-small;
            p{
                @include text-chicle($taille:20px,$color:$text-white);
            }
        }
    }
}