// Page création de compte
#create-account, #connexion {
    display: flex;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    justify-content: center;
    height:fit-content;
    background-image:$bg-image;
    background-attachment:fixed;

    .box-connexion{
        display:flex;
        flex-direction:column;
        max-width:1400px;
        width:800px;
        height:fit-content;
        background-color:$color-middle;
        padding:$padding-large;
        gap:$gap-medium;
        border-radius:$border-radius-large;
        @include border;
        @include shadow;
        position:relative;
        #etoile1{
            top:-50px;
            right:-50px;
            width:100px;
        }
        #etoile2{
            width:40px;
            top:-50px;
            right:-55px;
        }
        #etoile3{
            top:-50px;
            left:-50px;
            width:100px;
        }
        #etoile4{
            width:40px;
            top:-50px;
            left:-55px;
        }
        #rond1{
            top:50px;
            left:-40px;
            width:75px;
        }
        #rond2{
            bottom:-25px;
            right:300px;
            width:50px;
        }
        #rond3{
            top:50px;
            right:-40px;
            width:75px;
        }
        #rond4{
            bottom:-25px;
            left:300px;
            width:50px;
        }
        .no-compte{
            display:flex;
            gap:$gap-small;
            p,a{
                @include text($color:$text-white);
            }
        }
        form{
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            .error-message,.error{
                @include text($color:$text-darker,$taille:14px);
                margin-top:$gap-small;
                display:flex;
                align-items:center;
                gap:$gap-small;
            }
            .error{
                @include border($color-darker, 2px);
                border-radius:$border-radius-min;
                padding:$padding-small;
            }
            .group-input{
                display:flex;
                gap:$gap-small;
                justify-content: space-between;
                div{
                    width:100%;
                }
            }
            .btn-crea{
                width:100%;
                display:flex;
                justify-content: flex-end;
            }
        }
        @media(max-width:$width-portable)
        {
            width:90%;
            margin:0 auto;
            
        }
        @media(max-width:$width-vertical){
            .no-compte{
                flex-direction:column;
            }
            
        }
        @media(max-width:$width-tablette)
        {
            #etoile1{
                width:75px;
                top:-40px;
                right:-40px;
            }
            #etoile2{
                display:none;
            }
            #etoile3{
                width:75px;
                top:-40px;
                left:-40px;
            }
            #etoile4{
                display:none;
            }
            form{
                .group-input{
                    flex-direction:column;
                }
            }
            
        }
        @media(max-width:$width-mobile)
        {
            padding:$padding-medium;
            #etoile1{
                width:50px;
                top:-25px;
                right:-25px;
            }
            #etoile3{
                width:50px;
                top:-25px;
                left:-25px;
            }
            #rond1{
                width:50px;
                left:-25px;
            }
            #rond2{
                right:150px;
            }
            #rond3{
                width:50px;
                right:-25px;
            }
            #rond4{
                left:150px;
            }
            .no-compte{
                p,a{
                    text-align:left;
                }
            }
            form{
                .btn-crea{
                    justify-content: center;
                }
            }
        }

    }
    
}