#accueil{
    display: flex;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    .container{
        width:1400px;
        margin:0 auto;
        display:flex;
        gap:$gap-large;
        height:fit-content;
        
        .left{
            width:fit-content;
            height:fit-content;
            position:relative;
            img{
                object-fit:contain;
            }
            #cadre{
                width:400px;
            }
            #noeud{
                width:75px;
                top:50px;
                right:25px;
                @include animation;
            }
            #vernis{
                width:75px;
                height:125px;
                bottom:0px;
                left:10px;
                @include animation($name:rotation_2);
            }

        }
        .right{
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            h1{
                @include titre($taille:124px);
                color:$text-darker;
                position:relative;
                width:fit-content;
                #etoile{
                    position:absolute;
                    top:0px;
                    right:-50px;
                    width:75px;
                }
            }
            .info{
                display:flex;
                gap:$gap-small;
                align-items:center;
                img{
                    object-fit:contain;
                    width:45px;
                }
            }
            p{
                @include text($taille:24px);
                a{
                    @include text($taille:24px, $epaisseur:bold);
                }
            }
            .container-btn{
                display:flex;
                gap:$gap-medium;
                padding-top:$padding-small;
            }
        }
        @media(max-width: 1500px){
            width:90%;
            margin: 0 auto;
            .right{
                h1{
                    #etoile{
                        top:-5px;
                        right:-40px;
                        width:65px;
                    }
                }
            }
        }
        @media(max-width: 1310px){
            flex-direction:column;
            align-items:center;
            .right{
                align-items:center;
                h1{
                    text-align:center;
                }
                
                p{
                    text-align:center !important;
                }
                .info{
                    justify-content:center;
                }
                .container-btn{
                    justify-content:center;
                }
            }
        }
        @media(max-width: 810px){
            .right{
                h1{
                    #etoile{
                        display:none;
                    }
                }
                .container-btn{
                    flex-direction:column;
                    align-items:center;
                    .button{
                        width:100%;
                    }
                }
            }
        }
        @media(max-width:400px){
            .left{
                #cadre{
                    width:350px;
                    height:400px;
                }
                #noeud{
                    width:50px;
                    height:50px;
                    right:30px;
                }
                #vernis{
                    width:50px;
                    height:100px;
                    left:25px;
                }
            }
        }
    }
}

#techniques{
    background-image:url('/images/fonds/fond_techniques.png');
    position: relative;
    #top-technique{
        position:absolute;
        top: -125px;
        right:0px;
        width:100%;
        object-fit:contain;
    }
}