nav{
    width:1400px;
    padding:$padding-nav;
    margin:0 auto;
    display:flex;
    height:fit-content;
    align-items:center;
    justify-content:space-between;
    background-color:$color-dark;
    @include shadow;
    @include border;
    border-radius:$border-radius-large;
    position:fixed;
    top:25px;
    left:50%;
    transform:translateX(-50%);
    #logo-svg{
        position:relative;
        object-fit:contain;
        width:100px;
        height:70px;
        .logo-svg{
            fill:$color-white;
        }
    }
    .nav-links{
        display:flex;
        gap:$gap-large;
        align-items:center;
        .nav-link{
            &:nth-last-child(1){
                background-color:$color-dark;
                padding:$padding-button;
                border-radius:$border-radius-small;
                @include border($width:2px);
            }
            color:$text-white;
            text-decoration:none;
            @include text-chicle(24px);
        }

    }
    .nav-burger{
        display:none;
        width:75px;
        height:fit-content;
        flex-direction:column;
        gap:$gap-small;
        padding:$padding-small;
        cursor:pointer;
        span{
            width:100%;
            border-radius:25px;
            height:5px;
            background-color:$color-white;
        }
    }
    @media(max-width:1500px){
        width:90%;
        margin: 0 auto;
        padding:15px 25px;
        .nav-links{
            display:none;
        }
        .nav-burger{
            display:flex;
        }
    }
}