nav{
    z-index:$index-high;
    width:1400px;
    padding:$padding-nav;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    height:fit-content;
    background-color:$color-dark;
    @include shadow;
    @include border;
    border-radius:$border-radius-large;
    position:fixed;
    top:25px;
    left:50%;
    transform:translateX(-50%);
    transition:all 0.25s ease;
    .nav-container{
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .link-logo{
        width:100px;
        height:70px;
        #logo-svg{
            object-fit:contain;
            width:100%;
            height:100%;
            .logo-svg{
                fill:$color-white;
            }
        }
    }
    .nav-links{
        display:flex;
        gap:$gap-large;
        align-items:center;
        
    }
    .nav-burger{
        display:none;
        width:50px;
        height:fit-content;
        flex-direction:column;
        gap:$gap-small;
        cursor:pointer;
        span{
            width:100%;
            border-radius:25px;
            height:5px;
            background-color:$color-white;
            transition:
                opacity 0.1s ease,
                transform 0.4s ease,
                width 0.25s ease;
        }
    }
    .nav-burger.is-open{
        span:nth-child(1){
            transform: translateY(calc(5px + #{$gap-small})) translateX(9px) rotate(45deg);
            width:45px;
        }
        span:nth-child(2){
            opacity:0;
        }
        span:nth-child(3){
            transform: translateY(calc(-5px - #{$gap-small})) translateX(9px) rotate(-45deg);
            width:45px;
        }
    }
    .container-menu{
        display:flex;
        max-height:0;
        padding:0;
        box-sizing:border-box;
        overflow:hidden;
        margin:0 auto;
        flex-direction:column;
        align-items:center;
        gap:$gap-large;
        width:100%;
        opacity:0;
        visibility:hidden;
        transition:
            max-height 0.01s ease-out, 
            padding 0.5s ease-out, 
            opacity 0.25s ease, 
            visibility 0.25s ease;
        
    }
    .container-menu.is-open{
        max-height: 100%;
        padding:$padding-xlarge 0px;
        opacity:1;
        visibility:visible;
        transition:
            max-height 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), 
            padding 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), 
            opacity 0.4s ease, 
            visibility 0.4s ease;
    }
    .nav-link{
        &:nth-last-child(1){
            background-color:$color-dark;
            padding:$padding-button;
            border-radius:$border-radius-small;
            @include border($width:2px);
        }
        color:$text-white;
        
        @include text-chicle(24px);
    }
    @media(max-width:1500px){
        width:90%;
        margin: 0 auto;
        padding:10px 15px;
        .link-logo{
            width:75px;
            height:50px;
    }
        .nav-links{
            display:none;
        }
        .nav-burger{
            display:flex;
        }
    }
    @media(max-height:600px){
        .container-menu.is-open{
            padding:$padding-large 0px;
        }
    }
}