#prendre-rdv{
    display: flex;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    justify-content: center;
    height:fit-content;
    background-image:$bg-image;
    background-attachment:fixed;
    justify-content:center;
    align-items:center;
    .box{
        display:flex;
        flex-direction:column;
        max-width:1400px;
        width:800px;
        height:fit-content;
        background-color:$color-light;
        padding:$padding-large;
        gap:$gap-medium;
        border-radius:$border-radius-large;
        @include border;
        @include shadow;
        position:relative;
        h2{
            @include titre($color:$text-darker,$taille:80px,$align:left);
            text-align:left
        }
        form{
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            .prestations{
                display:flex;
                gap:$gap-small;
                flex-direction:column;
                .subtitle{
                    @include sous-titre($align:left,$color:$text-white);
                }
                .nail-art{
                    background-color:$color-dark;
                    width:fit-content;
                    padding:5px;
                    border-radius:$border-radius-small;
                    display:flex;
                    align-items:center;
                    .form-group{
                        align-items:center;
                        label{
                            @include text-chicle();
                            font-style:normal;
                        }
                        input{
                            width:20px;
                            height:20px;
                            min-width:20px;
                            min-height:20px;
                        }
                    }
                }
                .container-presta{
                    display:flex;
                    gap:$gap-small;
                    .prix{
                        @include border($width:2px);
                        border-radius:$border-radius-min;
                        height:40px;
                        padding:$padding-small;
                        white-space:nowrap;
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        width:fit-content;
                        p{
                            @include text-chicle($color:$text-darker);
                        }
                    }
                }
            }
        }
    }
}