@use 'badges';

#realisationPage{
    display: flex;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    justify-content: center;
    height:fit-content;
    justify-content:center;
    align-items:center;
    background-color:$color-light;
    flex-direction:column;
    
    .container{
        display:flex;
        justify-content:space-between;
        align-items:stretch;
        gap:$gap-large;
        height:fit-content;
        flex-direction:row;
        .left{
            width: 50%;
            background-color:$color-light;
            background-size: cover;
            background-position: center;
            @include shadow();
            @include border();
            border-radius:$border-radius-large;
            position:relative;
            .favoris{
                position:absolute;
                bottom:10px;
                right:10px;
                background-color:$color-dark;
                border-radius:$border-radius-max;
                display:flex;
                align-items:center;
                justify-content:center;
                width:40px;
                height:40px;
                overflow:hidden;
                gap:$gap-small;
                padding:$padding-small;
                transition: width 0.5s ease;
                img{
                    width:25px;
                    cursor:pointer;
                }
                p{
                    @include text-chicle(16px);
                    transform:translateX(150px);
                    display:none;
                    white-space: nowrap;
                }   
            }
            &:hover{
                    .favoris{
                        width:200px;
                        max-width:fit-content;
                        transition: width 0.5s ease;
                        p{
                            transition: transform 0.1s ease;
                            transform:translateX(0);
                            display:block;
                        }
                    }
                }
        }
        .right{
            padding-top:$padding-medium;
            padding-bottom:$padding-medium;
            width:50%;
            display:flex;
            flex-direction:column;
            gap:$gap-medium;
            h2{
                @include text-chicle($taille:72px,$color:$text-darker);
            }
            .mini-box{
                width:fit-content;
                border-radius:$border-radius-small;
                padding:$padding-small;
                @include shadow($y:2.5px, $blur:10px);
            }
            .date{
                background-color:$color-white;
                @include text-chicle($taille:24px, $color:$text-darker);
            }
            .container-details{
                display:flex;
                gap:$gap-medium;
                .mini-box{
                    @include text($taille:24px,$color:$text-white);
                }
            }
            .texte{
                display:flex;
                flex-direction:column;
                gap:$gap-small;
                h4{

                    @include text($taille:24px,$epaisseur:bolder)
                }
                p{
                    @include text($taille:20px);
                    white-space: pre-line;
                }
            }
        }
    }
}