#realisationsAll{
    background-color:$color-middle;
    padding-top:$padding-top;
    padding-bottom:$padding-bottom;
    position:relative;
    #svg-1{
        position:absolute;
        top:-200px;
        right:-150px;
        width:900px;
        path{
            fill:$color-light;
        }
        @media(max-width:$width-portable){
            right:-250px;
        }
        @media(max-width:$width-vertical){
            width:500px;
            right:-200px;
        }
    }
    #svg-2{
        position:absolute;
        bottom:-250px;
        left:-100px;
        width:900px;
        transform:rotate(-90deg);
        path{
            fill:$color-light;
        }
        @media(max-width:$width-vertical){
            width:500px;
            bottom:-100px;
        }
    }
    
    h2{
        @include titre($color:$text-white);
    }
    .container{
        display:flex;
        position:relative;
        flex-direction:column;
        gap:$gap-large;
        padding-bottom:$padding-medium;
        @media(max-width:$width-mobile){
            padding-top:$padding-medium;
            gap:$gap-medium;
        }
        .container-rea{
            padding-top:$padding-medium;
            display:flex;
            gap:$gap-large;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-between;
            position:relative;
            #rond1{
                width:100px;
                top:-100px;
                right:-50px;
            }
            #rond2{
                width:50px;
                top:-25px;
                right:-75px;
            }
            @media(max-width:$width-portable){
                justify-content:center;
                 #rond1,#rond2{
                    display:none;
                }
            }
        }
    }
}