*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.slide{
    width:100%;
    min-height:100vh;
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.50)),
    $bg-image;
    background-color:$color-white;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}


