*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.50)),
    $bg-image;
    background-color:$color-white;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    
}
.slide{
    width:100%;
    min-height:100vh;
    background-size:cover;
    background-position:center center;
}

.wrapper{
    width:1400px;
    margin:0 auto;
    @media(max-width:$width-portable){
        width:90%;
    }
}

.link-logo{
    width:100px;
    height:70px;
    display:inline-block;
    #logo-svg{
        object-fit:contain;
        width:100%;
        height:100%;
        .logo-svg{
            fill:$color-white;
        }
    }
}

.button{
    display: inline-block;
    width:fit-content;
    height:fit-content;
    padding:$padding-button;
    background-color:$color-dark;
    color:$text-white;
    @include button;
    @include border($color-white, 2px);
    border-radius:$border-radius-small;
    transform:translateY(0);
    transition:
        background-color 0.3s ease, 
        color 0.3s ease, 
        transform 0.3s linear;
    &:hover{
        background-color:$color-middle;
        color:$text-darker;
        transform:translateY(-5px);
    }
}

.button-secondary{
    background-color:$color-darker;
    color:$text-white;
    &:hover{
        background-color:$color-light;
        color:$text-darker;
        transform:translateY(0px);
    }
}

.illu{
    position:absolute;
    z-index: $index-high;;
}






